/venv/
**/log.lammps
/dgeba_hardener/hardener/hardener_test.data
/dgeba_hardener/hardener/hardener_trajectory_match.out
/dgeba_hardener/hardener/hardener_trajectory_match_test.out
/dgeba_hardener/epoxy/epoxy_trajectory_match_test.out
**/*.restart
**/*.data
/dgeba_hardener/melt/melt_trajectory_match_test.out
/reading-list/bayesian_parametrisaiton.pdf
/reading-list/multi_t_bayesian.pdf
/reading-list/polymer_bayesian.pdf
/lj_test/trajectory_match/heavy_npt.out
/lj_test/trajectory_match/lj_test_gamma_demo.out
/lj_test/trajectory_match/small_npt.out
tm_vs_true.ipynb
