/venv/
**/log.lammps
/dgeba_hardener/hardener/hardener_test.data
/dgeba_hardener/hardener/hardener_trajectory_match.out
/dgeba_hardener/hardener/hardener_trajectory_match_test.out
/dgeba_hardener/epoxy/epoxy_trajectory_match_test.out
